* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

nav {
  background-color: black;
  width: 100%;
  padding: 20px 50px;
}
nav .nav-links {
  display: flex;
  justify-content: space-between;
}
nav .left-links {
  display: flex;
}
nav .right-links {
  display: flex;
}
nav .nav-link {
  color: white;
  margin-left: 10px;
  transition: 0.3s;
}
nav .nav-link:hover {
  color: #ffcc33;
}
nav .logo {
  display: flex;
  justify-content: center;
  padding: 35px 0px;
  padding-bottom: 10px;
}
nav .logo img {
  width: 191px;
}
nav .hamburger {
  color: white;
  position: absolute;
  top: 20px;
  left: 35px;
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.btn-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  z-index: 1000;
}
.btn-nav .close {
  position: absolute;
  top: 5px;
  cursor: pointer;
  font-size: 24px;
}
.btn-nav .nav-link {
  margin-bottom: 20px;
  position: relative;
}
.btn-nav .nav-link::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.btn-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header {
  background-image: url("/css/img/header-bg.jpg");
  background-position: top;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  align-items: center;
  position: relative;
}
header .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header .content {
  z-index: 100;
}
header h1 {
  font-size: 62px;
  font-weight: 300;
}
header p {
  font-weight: 300;
  font-size: 24px;
}
header .contactBtn {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  background-color: #ffcc33;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}
header .contactBtn:hover {
  background-color: black;
  color: #ffcc33;
  border: 2px solid #ffcc33;
}

.about {
  padding: 80px 30px;
}
.about .container {
  display: flex;
  align-items: center;
  text-align: center;
}
.about .container h2 {
  font-size: 44px;
  font-weight: 300;
}
.about .container .text-content {
  width: 60%;
  margin-right: 20px;
}
.about .container .logo {
  width: 40%;
}
.about .container .logo img {
  width: 100%;
}

.services {
  background-color: rgb(248, 245, 245);
  padding: 80px 0;
}
.services .container h2 {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 40px;
}
.services .container .card-services {
  text-align: center;
  height: 500px;
  margin-bottom: 50px;
}
.services .container .card-services .image {
  width: 25vw;
  height: 25vw;
}
.services .container .card-services .card-text h3 {
  font-weight: 300;
}
.services .container .one .image {
  background-image: url("/css/img/s1.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.services .container .two .image {
  background-image: url("/css/img/s2.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.services .container .three .image {
  background-image: url("/css/img/s3.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.services .container .four .image {
  background-image: url("/css/img/s4.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.contact-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.contact {
  padding: 80px 0px;
  background-image: url("/css/img/contact-me.jpg");
  background-size: cover;
  color: white;
  position: relative;
  z-index: 100;
}
.contact .container .heading {
  text-align: center;
  font-weight: 300;
  z-index: 100;
}
.contact .container .heading h2 {
  font-size: 40px;
  font-weight: 300;
}
.contact .container .heading p {
  font-size: 24px;
}
.contact .container .contact-form {
  margin-top: 50px;
  width: 90%;
}
.contact .container .contact-form form {
  padding: 20px;
  margin: auto;
}
.contact .container .contact-form form input,
.contact .container .contact-form form textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 15px;
  color: white;
}
.contact .container .contact-form form ::-moz-placeholder {
  text-transform: uppercase;
  color: white;
}
.contact .container .contact-form form ::placeholder {
  text-transform: uppercase;
  color: white;
}
.contact .container .contact-form form button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  background-color: #ffcc33;
  transition: 0.3s;
}
.contact .container .contact-form form button:hover {
  background-color: black;
  color: #ffcc33;
  border: 2px solid #ffcc33;
}
.contact .container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links .contact-link {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}
.contact-links .contact-link i {
  font-size: 40px;
  margin-bottom: 20px;
}
.contact-links .contact-link a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.contact-links .contact-link a:hover {
  color: #ffcc33;
}

footer {
  background-color: black;
  margin-bottom: 0;
  height: 100px;
  padding: 50px 0px;
}
footer p {
  margin-bottom: 0;
  margin-top: 100px;
  margin: auto;
  color: white;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 1400px) {
  .services .container .card-services .image {
    width: 15vw;
    height: 15vw;
  }
}
@media (max-width: 900px) {
  nav .left-links {
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .right-links {
    position: absolute;
    right: 35px;
  }
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about .container .text-content {
    width: 100%;
  }
  .about .container .logo {
    width: 100%;
  }
  .services .container .card-services .image {
    width: 45vw;
    height: 45vw;
  }
}
@media (max-width: 580px) {
  .services .container .card-services {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */